<div
  class="card"
  style="
    background-color: #000;
    color: #fff;
    position: relative;
    top: 12rem;
    border-radius: 0;
  "
>
  <div class="card-header">&copy; Copyrights all reserved-2023</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Made with ExpressJs & EJS.</p>
      <footer class="blockquote-footer">
        Mohitlenka<cite title="Source Title"></cite>
      </footer>
    </blockquote>
  </div>
</div>
